version: '3.8'

services:
  # 1. PHP/Web App Service
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: php_app
    # http://localhost címen lesz elérhető
    ports:
      - "80:80"
    # A projektgyökér csatolása a konténer webgyökerébe
    volumes:
      - .:/var/www/html
      # Az Apache konfigurációs fájl csatolása
      - ./docker/vhost/000-default.conf:/etc/apache2/sites-available/000-default.conf             

    depends_on:
      - db
    
    environment:
      MYSQL_HOST: db                  
      MYSQL_DATABASE: egyetemidb
      MYSQL_USER: user_dev
      MYSQL_PASSWORD: secure_pass
      
  # 2. MySQL Database Service
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      # Gyökér (root) jelszó (csak fejlesztéshez)
      MYSQL_ROOT_PASSWORD: root_secret 
      MYSQL_DATABASE: egyetemidb
      MYSQL_USER: user_dev
      MYSQL_PASSWORD: secure_pass
    volumes:
      # Perzisztens tároló a DB adatoknak
      - db_data:/var/lib/mysql       
      
      - ./db_init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"                  

# 3. Kötetek definíciója
volumes:
  db_data: